.our__characters {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid #eee;
    width: 50%;
    margin-top: 3rem;
    margin-left: 30rem;
}

.character__image {
    width: 40%;
}

.character__description {
    font-size: 1.2rem;
}

.character__number {
    margin-left: 0.3rem;
}

.load {
    font-weight: bold;
    font-size: 1.2rem;
}

.error {
    font-weight: bold;
    font-size: 1.2rem;
}

.character__name {
    font-size: 1.3rem;
    margin-top: 0.3rem;
}